{% extends 'layouts/master.html' %}
{% block title %}Просмотр{% endblock %}
{% block body %}
    <h1>Главная страница</h1>
    <table class="table table-striped">
        <thead>

        </thead>
        <tbody>

            <tr>
                <td> Курс  btc / usd = {{ btc }}</td>


                <td class="text-right">
                    <div class="row">
                        <form action="{{ url_for('comment_delete') }}" method="post" class="pull-right">

                            <input type="submit" class="btn btn-danger" data-toggle="confirmation"
                                     data-title="Действительно удалить?" value="Удалить">
                        </form>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}
